<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bat.druid.dao.CustomStructureDao">

    <resultMap id="BaseResultType" type="com.bat.commoncode.entity.CustomStructure">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="age" jdbcType="INTEGER" property="age"/>
    </resultMap>

    <select id="getCustomStructureList" resultMap="BaseResultType">
        SELECT id, username, age
        FROM t_vss_user
    </select>

    <insert id="insertCustomStructure" parameterType="com.bat.commoncode.entity.CustomStructure">
        insert into t_vss_user (username, age)
        values (#{username, jdbcType=VARCHAR}, #{age, jdbcType=INTEGER});
    </insert>
</mapper>